body {
    color: #1A2A33;
    background-color: #F9F9F9;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    margin: 0;
}

h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0.75rem 1.25rem;
    text-align: center;
}

h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

a {
    color: #036BA6;
}

nav {
    min-width: 300px;
    max-width: 300px;
    border-right: solid 1px #1A2A33;
    height: 100vh;
    overflow-y: auto;
    overflow-x: visible;
}

.back-link {
    padding: 0.75rem 1.25rem 1.25rem 1.25rem;
    white-space: nowrap;
    border-bottom: solid 1px #1A2A33;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0 1.25rem;
}

nav li {
    margin: 1.25rem 0;
}

main {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.scenario {
    padding: 0 3rem;
    border-bottom: solid 1px #1A2A33;
}

.scenario:last-of-type {
    border-bottom: none;
}